<div class="account-widget" *ngIf="isWidget">
  <div class="row">
      <div class="col-md-12">
        <h3>Loans</h3>
        <table class="table-responsive table-striped table-hover table-bordered">
          <thead>
            <th>Loan ID</th>
            <th>Loan Program ID</th>
            <th>Term</th>
            <th>Loan Amount</th>
            <th>Interest Rate</th>
            <th>Margin</th>
            <th>Rate Type</th>
            <th>Due Day</th>
            <th>Created Date</th>
            <th>Disbursement Date</th>
            <th>First Payment Date</th>
            <th>Updated Date</th>
            <th>Status</th>
            <th>Loan Reference ID</th>
            <th>External Reference ID</th>
          </thead>
          <tr>
            <td>{{accountData.loanId}}</td>
            <td>{{accountData.loanProgramId}}</td>
            <td>{{accountData.term}}</td>
            <td>{{accountData.amount}}</td>
            <td>{{accountData.interestRate}}</td>
            <td>{{accountData.margin}}</td>
            <td>{{accountData.rateType}}</td>
            <td>{{accountData.dueDay}}</td>
            <td>{{accountData.createdDate}}</td>
            <td>{{accountData.disbursementDate}}</td>
            <td>{{accountData.firstPaymentDate}}</td>
            <td>{{accountData.updtedDate}}</td>
            <td>{{accountData.status}}</td>
            <td>{{accountData.loanReferenceId}}</td>
            <td>{{accountData.externalReferenceId}}</td>
          </tr>
        </table>
      </div>
    </div>  
</div>
