<div class="account-widget" *ngIf="isWidget">
  <div class="row">
      <div class="col-md-12">
        <h3>Loans</h3>
        <table class="table-responsive table-striped table-hover table-bordered">
          <thead>
            <th>Loan ID</th>
            <th>Loan Program ID</th>
            <th>Loan Amount</th>
            <th>Interest Rate</th>
          </thead>
          <tr>
            <td>{{accountData.loanId}}</td>
            <td>{{accountData.loanProgramId}}</td>
            <td>{{accountData.amount}}</td>
            <td>{{accountData.interestRate}}</td>
          </tr>
        </table>
      </div>
    </div>  
</div>
