<div class="navbar-fixed-left">
  <ul class="left-nav-items"><!--
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Sub Menu1</a></li>
      <li><a href="#">Sub Menu2</a></li>
      <li><a href="#">Sub Menu3</a></li>
      <li class="divider"></li>
      <li><a href="#">Sub Menu4</a></li>
      <li><a href="#">Sub Menu5</a></li>
     </ul>
   </li>-->
   <li class="left-nav-item text-center"><a [routerLink]="['/dashboard']" routerLinkActivate="active"><i class="fa fa-tachometer" aria-hidden="true"></i><br/><span class="link-title">Dashboard</span></a></li>
   <li class="left-nav-item text-center"><a [routerLink]="['/demographics']" routerLinkActivate="active"><i class="fa fa-address-book" aria-hidden="true"></i><br/><span class="link-title">Demographics</span></a></li>
   <li class="left-nav-item text-center"><a href="#"><i class="fa fa-history" aria-hidden="true"></i><br/><span class="link-title">Activity</span></a></li>
   <li class="left-nav-item text-center"><a href="#"><i class="fa fa-money" aria-hidden="true"></i><br/><span class="link-title">Payments</span></a></li>
   <li class="left-nav-item text-center"><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i><br/><span class="link-title">IDR App</span></a></li>
  </ul>
</div>