<div class="navbar-fixed-left">
  <ul class="left-nav-items">
    <li class="left-nav-item text-center">
      <a [routerLink]="['/dashboard']" routerLinkActive="active">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <br/>
        <span class="link-title">Dashboard</span>
      </a>
    </li>
    <li class="left-nav-item text-center">
      <a [routerLink]="['/demographics']" routerLinkActive="active">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <br/>
        <span class="link-title">Demographics</span>
      </a>
    </li>
    <li class="left-nav-item text-center">
      <a [routerLink]="['/activity']" routerLinkActive="active">
        <i class="fa fa-history" aria-hidden="true"></i>
        <br/>
        <span class="link-title">Activity</span>
      </a>
    </li>
    <li class="left-nav-item text-center">
      <a [routerLink]="['/payments']" routerLinkActive="payments">
        <i class="fa fa-money" aria-hidden="true"></i>
        <br/>
        <span class="link-title">Payments</span>
      </a>
    </li>
    <li class="left-nav-item text-center">
      <a href="#">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <br/>
        <span class="link-title">IDR App</span>
      </a>
    </li>
  </ul>
</div>