<div class="right-bar-fixed">
    <div class="right-bar-notes-container">
        <span class="right-bar-title">
          Interaction Tasks
        </span>
        <div class="well">
          <ul class="task-list">
            <li class="task-list-item theme-color-red">
                <i class="fa fa-chevron-right"></i> <span>VAPE Required</span><i class="fa fa-info-circle task-item-info pull-right"></i>
            </li>
            <li class="task-list-item theme-color-green">
              <i class="fa fa-chevron-right"></i> <span>MMA Password Reset</span><i class="fa fa-info-circle task-item-info pull-right"></i>
            </li>
          </ul>
        </div>
    </div>
    <div class="right-bar-notes-container">
        <span class="right-bar-title">
          Notes
        </span>
        <textarea rows="6" class="right-bar-notes"></textarea>
    </div>

    <div class="right-bar-actions-container">
        <span class="right-bar-title">
          Actions
        </span>
        <div class="well">
            <input type="text" placeholder="SEARCH" style="width: 100%;margin-bottom: 4px;" />
          <div>
            <ul class="task-list">
              <li class="task-list-item theme-color-grey">
                  <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
              </li>
              <li class="task-list-item theme-color-grey">
                <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
              </li>
              <li class="task-list-item theme-color-grey">
                  <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                </li>
                <li class="task-list-item theme-color-grey">
                    <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                  </li>
                  <li class="task-list-item theme-color-grey">
                      <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                    </li>
                    <li class="task-list-item theme-color-grey">
                        <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                      </li>
                      <li class="task-list-item theme-color-grey">
                          <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                        </li>
                        <li class="task-list-item theme-color-grey">
                            <i class="fa fa-sticky-note"></i> <span>Some Action (276)</span><i class="fa fa-info-circle task-item-info pull-right"></i>
                          </li>                                                                                                    

            </ul>
          </div>
        </div>
    </div>


</div>
<div class="right-bar-handle" (click)="toggleRight()"></div>