<div *ngIf="isWidget">
    <form [formGroup]="demographicsForm" (ngSubmit)="saveDemographics(demographicsForm.value)">
        <div class="row">
            <div class="form-col col-sm-3">
                <label for="txtAddressLine1">Address Line 1</label>
                <input name="txtAddressLine1" formControlName="addressLine1" type="text" class="form-control">
            </div>
            <div class="form-col col-sm-3">
                <label for="txtAddressLine2">Address Line 2</label>
                <input name="txtAddressLine2"  formControlName="addressLine2" type="text" class="form-control">
            </div>
            <div class="form-col col-sm-3">
                <label for="txtCity">City</label>
                <input name="txtCity"  formControlName="city" type="text" class="form-control">
            </div>                
            <div class="form-col col-sm-3">
                <label for="ddlState">State</label>
                <select name="ddlState"  formControlName="state" type="text" class="form-control">
                        <option value="">Select</option>
                    <option value="co">CA</option>
                    <option value="ca">CO</option>
                </select>
            </div>                                
        </div>
        <div class="row">
            <div class="form-col col-sm-3">
                <label for="txtZip">Zip</label>
                <input name="txtZip"  formControlName="zip" type="text" class="form-control">
            </div>     
            <div class="form-col col-sm-3">
                    <label for="txtPhone">Primary Phone</label>
                    <input name="txtPhone"  formControlName="phone" type="text" class="form-control">
            </div>     
            <div class="form-col col-sm-3">
                    <label for="txtEmail">Primary Email</label>
                    <input name="txtEmail"  formControlName="email" type="text" class="form-control">
            </div>                                         
            <div class="form-col col-sm-3 pull-right">
                <input class="demo-btn" type="submit" value="Save" /> 
                <input class="demo-btn-default" type="button" value="View All" style="margin-right: 4px;" />
            </div>
        </div>
    </form>
</div>