.card{
    margin: 20px;
    margin-top: 70px;
    margin-left: 120px;
    background-color: #f75b13;
    color: #fff;
    padding: 8px;
    z-index: 0;
}
.card-main{
    height: 165px;
}
.card-header{
    font-size: 1.5em;
}
.card-header-accounts{
    color: #7BCE19;
    font-size: 1.5em;
}
.card-card{
    padding: 10px;
    background-color: #f75b13;
}
.card-footer{
    margin-top: 4px;
    height: 26px;
    padding: 8px;
    border-top: 1px dotted #ededed;
    cursor: pointer;
}
.other-header{
    color: #FFF;
    font-weight: 700;
    font-size: 1.2em;
}
.mma-account{
    font-weight: 700;
}
.card-buttons{
    margin-top: 8px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
    position: relative;
}
.vape-required{
    color: #f23029;
    position: absolute;
    right: 0;
    margin-right: 12px;
}
.card-button{
    position: relative;
}