.footer{
    position: fixed;
    height: 50px;
    background-color: #9d9d9d;
    color: #BA9E66;
    padding-left: 110px;
    padding-right: 310px;
    width: 100%;
    bottom: 0;
}

@media only screen and (max-width: 1010px) {
    .btn-wrapup{
        right: 16px !important;        
    }
}
.btn-wrapup{
    position: fixed;
    right: 295px;
    height: 50px;
    border: none;
    border-radius: 0px;
    font-size: 1.6em;  
    padding-top: 10px;
    padding-bottom: 0px; 
    padding-left: 16px; 
    padding-right: 16px;
}