<div class="db-main">
    <div class="row">
      <div class="col-md-6">
          <div class="demo-widget">
              Now is the time for all good men to come to the aid of their country. Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
              Now is the time for all good men to come to the aid of their country. 
          </div>
      </div>
      <div class="col-md-6">
          <div class="demo-widget">
              Hello
          </div>
      </div>      
    </div>
</div>