/* You can add global styles to this file, and also import other style files */


@import "~font-awesome/css/font-awesome.css";

.theme-color-red{
    background-color: #c62323;
    color: #fff;
}
.theme-color-green{
    background-color: #F9CE77;
    color: #fff;
}
.theme-color-lightblue{
    background-color: #6686ba;
    color: #FFF;
}
.theme-color-grey{
    background-color: #D4D4D4;
    color: #505050;
}
.widget-title{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: #505050;
}
.form-control{
    border-radius: 0px !important;
}